h2 {
    font-family: Glyphicons Halflings;
    font-weight: 800;
    font-size: 2.5rem;
    color: #165A63;
    text-transform: uppercase;
    text-shadow: 2px 2px #FFFF;
}

body {
    padding: 50px;
    background-color: #90D2D6;
}

.wrapper {
    margin-top: 70px;
    width: 70%;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #165A63;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
