@{
    Layout = "~/Views/Shared/_RnALayout.cshtml";
    ViewBag.Title = "Регистрация";
}

<body style="
    background-image: url(../images/registratia.jpg);">
    <div class="form">
        <h1>Регистрация</h1>
        <div class="input-form">
            <input type="text" placeholder="Логин">
        </div>
        <div class="input-form">
            <input type="password" placeholder="Пароль">
        </div>
        <div class="input-form">
            <input type="submit" value="Создать аккаунт">
        </div>
    </div>
</body>
