<div class="container">
    <div class="row padding text-center">
        <div class="col-12" style="margin-left: 20px">
            <nav>
                <a href="@Url.Action("FAQs","Home")" style="color:#ffffff">FAQ</a>
            </nav>

            <div class="col-12">
                <style>

                    .about {
                        margin-left: 20px;
                        color: #ffffff;
                    }
                </style>

                <h2><span class="about">Наши контакты</span></h2>
            </div>

        </div>
        <div class="logo">
            <a href="@Url.Action("Index","Home")"><img class="graficlogo" src="~/images/123dmiclogo.png" alt"Logo"></a>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>

        </div>
    </div>
</div>