<div class="container">
    <div class="row padding text-center">
        <div class="col-12">
            <nav>
                <a href="@Url.Action("FAQs","Home")">FAQ</a>
            </nav>
            <h2>Наши контакты</h2>
        </div>
        <div class="logo">
            <a href="@Url.Action("Index","Home")"><img class="graficlogo" src="~/images/123dmiclogo.png" alt"Logo"></a>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-faq"></i></a>
        </div>
    </div>
</div>