@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Белград";
}
<div class="carousel slide" data-ride="carousel" id="slides">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/Belgrade/s1.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/images/Belgrade/s2.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/images/Belgrade/s3.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/images/Belgrade/s4.jpg">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Добро пожаловать в Белград!</h2>
        </div>
    </div>
</div>
<!-- Секция с изображением -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>О городе:</h2>
            <p>
                Белград – крупнейший промышленный, культурный и экономический центр Сербии.В Белграде проживает около 21% населения страны, что делает его самым крупным городом Сербии. Здесь прекрасно уживается множество национальностей, каждая со своими культурой, традициями и вероисповеданием: сербы, югославы, черногорцы, хорваты, македонцы. Cтолица Сербии и бывшей Югославии лежит под горой Авала. Он раскинулся на Балканском полуострове, на берегу реки Сава. Эта водная артерия является правым притоком Дуная и соединяет между собой три европейские столицы – Любляну, Загреб и Белград. Именно в Белграде Сава впадает в Дунай, что дает возможность гостям и местным жителям наслаждаться великолепным зрелищем слияния двух рек. Через город протекают две крупные промышленные европейские реки Дунай и Савва (не включая Волгу) и разделяют город на 17 неодинаково расположенных муниципальных частей, из которых 10 являются городскими и 7 пригородными. Белград по величине 3-ий город на Балканах, после Стамбула и Афины! Белград один из самых старых, зеленых и солнечных на территории Европы городов. В последнее время Белград активно развивается в культурной сфере, становясь все более привлекательным для туристов. С каждым годом растет количество праздников и международных фестивалей, особенно в весенние и летние месяцы.
            </p>
        </div>
        <div class="container">
            <img src="~/images/Belgrade/b1.jpg" style="margin-left: 600px" width="400">
            <img src="~/images/Belgrade/b2.jpg" style="margin-left: 200px" width="400" heigth="150" />
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>История:</i></h2>
            <p>Белград город с очень бурной историей – один из самых старших городов Европы. История Белграда длится более чем семь тысяч лет. Область Белграда на месте сляния двух больших рек Сава и Дунай была заселена еще с палеолитических времен. Его географическое положение всегда давало ему особенное стратегическое значение на перекрестке путей между Европой и Азией и конфронтации восточной и западной цивилизации. В карьере, недалеко от населенного пункта Лeштанe, в пещере Чукарица и вблизи Байлонского рынка были найдены останки костей и черепов неандертальцев, проживающих здесь в каменном веке. Белград был разрушен и восстановлен более чем 40 раз. Но Белград также имел процветающие и мирные периоды, когда экономика процветала и привлекала людей различных религиозных и этнических принадлежностей, которые населяли его и которые жили в нем.</p>
        </div>
        <div class="container">
            <img src="~/images/Belgrade/b3.jpg" style="margin-left: 600px" width="400">
            <img src="~/images/Belgrade/b4.jpg" style="margin-left: 200px" width="400">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>Интересные места:</h2>
            <p>Среди основных туристических достопримечательностей Белграда — исторические районы города и архитектурные сооружения. К ним относятся Скадарлия, Национальный музей Сербии и расположенный рядом Национальный театр, Земун, площадь Николы Пашича, площадь Теразие, Студенческая площадь, Белградская крепость и парк Калемегдан, улица князя Михаила, храм Святого Саввы, здание Парламента, Новый дворец и Старый дворец, Резиденция князя Милоша и бывшая королевская резиденция династии Обреновичей. Кроме этого, в городе расположены многочисленные музеи, парки, памятники, кафе, рестораны и магазины.</p>
        </div>
        <div class="container">
            <img src="~/images/Belgrade/b5.jpg" style="margin-left: 400px" width="400">
        </div>
    </div>
</div>
                   
<br>
<br>
<!--Карта -->
<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas"
        src="https://maps.google.com/maps?width=520&amp;height=500&amp;hl=en&amp;q=%20%D0%91%D0%B5%D0%BB%D0%B3%D1%80%D0%B0%D0%B4+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
</iframe>
<script type='text/javascript' src='script.js?id=43635423849cb79bdf3c2d3a39c7d7cba7070317'></script>
<br>
<br>
<br>
<br>
<table class="zebra" style="margin-left:550px">
    <tr>
        <td class="round-top">Географические координаты</td>
        <td>44°49′с.ш. 20°28′в.д.</td>
    </tr>
    <tr>
        <td>Площадь</td>
        <td>359,92 км²</td>
    </tr>
    <tr>
        <td>Население</td>
        <td>1 233 796 человек </td>
    </tr>
    <tr>
        <td>Официальный язык</td>
        <td>Сербский</td>
    </tr>
    <tr>
        <td>Валюта</td>
        <td>Динар din</td>
    </tr>
</table>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Что посмотреть?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.	Белградская крепость </p>
            <a href="https://www.beogradskatvrdjava.co.rs/"> <img src="~/images/Belgrade/d1.jpg" width="350" height="255">
        </td></a>
        <td align=center>
            <p>2.	Парк Калемегдан</p>

            <a href="http://www.beograd.rs/ru/dostoprimecateljnosti/1741825-/"><img src="~/images/Belgrade/d2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.	Храм Святого Саввы</p>
            <a href="http://hramsvetogsave.rs/"><img src="~/images/Belgrade/d3.jpg" width="350" height="275">
        </td></a>
    </tr>
</table>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Где поесть?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.	Šaran </p><a href="http://www.saran.co.rs/"> <img src="~/images/Belgrade/r1.jpg" width="350" height="255">
        </td></a>
        <td align=center>
            <p>2.	Dva Jelena (The Two Deer Restaurant) </p>
            <a href="http://www.dvajelena.rs/"><img src="~/images/Belgrade/r2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.	Mala Gostionica </p>
            <a href="http://malagostionica.rs/"><img src="~/images/Belgrade/r3.jpg" width="350" height="275">
        </td></a>
    </tr>
</table>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Где остановиться?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.Boutique Hotel Museum</p><a href="https://museum.mycpanel.rs/"> <img src="~/images/Belgrade/o1.jpg" width="310" height="255">
        </td></a>
        <td align=center>
            <p>2.Marquise Hotel</p>
            <a href="http://www.marquisehotel.rs/"><img src="~/images/Belgrade/o2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.Central Park Residence</i></p>
            <a href="http://centralparkresidence.rs/"><img src="~/images/Belgrade/o3.jpg" width="320" height="275">
        </td></a>
    </tr>
</table>
<br>
<!--Поиск отеля -->
<iframe style="margin-left: 600px" width="400" height="450"
        src="https://widgets.skyscanner.net/widget-server/widgets/iframe?skyscannerWidget=HotelSearchWidget&locale=en-GB&market=GB&currency=GBP"></iframe>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-baee4e1a-6068-4d8f-bd2a-1345782d59be"></div>

<!--Конвертер валют -->
<div id='gcw_mainFdqN6vbFm' class='gcw_mainFdqN6vbFm'></div>
<a id='gcw_siteFdqN6vbFm' href='https://freecurrencyrates.com/ru/'>FreeCurrencyRates.com</a>
<script>function reloadFdqN6vbFm() { var sc = document.getElementById('scFdqN6vbFm'); if (sc) sc.parentNode.removeChild(sc); sc = document.createElement('script'); sc.type = 'text/javascript'; sc.charset = 'UTF-8'; sc.async = true; sc.id = 'scFdqN6vbFm'; sc.src = 'https://freecurrencyrates.com/ru/widget-horizontal?iso=RSD-USD-EUR-MDL&df=2&p=FdqN6vbFm&v=fits&source=fcr&width=800&width_title=300&firstrowvalue=1&thm=A6C9E2,FCFDFD,4297D7,5C9CCC,FFFFFF,C5DBEC,FCFDFD,2E6E9E,000000&title=%D0%9A%D0%BE%D0%BD%D0%B2%D0%B5%D1%80%D1%82%D0%B5%D1%80%20%D0%B2%D0%B0%D0%BB%D1%8E%D1%82&tzo=-180'; var div = document.getElementById('gcw_mainFdqN6vbFm'); div.parentNode.insertBefore(sc, div); } reloadFdqN6vbFm();</script>
<!-- Погода -->
<a class="weatherwidget-io" href="https://forecast7.com/en/44d7920d45/belgrade/" data-label_1="BELGRADE" data-label_2="WEATHER" data-theme="original">BELGRADE WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

