@{
    Layout = "~/Views/Shared/_faqLayout.cshtml";
    ViewBag.Title = "FAQ";
}

<div class="wrapper center-block">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Нужно ли мне регистрироваться, чтобы пользоваться сайтом?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Нет. Вы можете просматривать целевой контент и статьи без регистрации на сайте. <a href="@Url.Action("Index", "Login")">Создание профиля</a> необходимо только в том, случае, если Вы хотите сохранить информацию о предложенном туре.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Почему бы вам не опубликовать путеводитель по [выбранному Вами месту назначения]?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Мы составляем путеводители по тем направлениям, где, по нашему мнению, путешественники получат максимум удовольствия. Но мы постоянно пересматриваем наши гиды, поэтому просто напишите нам по электронной почте и сообщите, гиды по каким местам Вы хотели бы увидеть на нашем сайте.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Зачем нужно проходить тест?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Наш <a href="@Url.Action("Test", "Home")">тест</a> разработан таким образом, чтобы при выборе места назначения учитывать Ваши личные предпочтения и интересы. С помощью особой системы подсчета баллов по завершении теста Вы получаете туристический гид, в который включена вся необходимая для планирования путешествия информация, начиная с истории города/страны и заканчивая списком отелей и ресторанов.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Как я могу связаться с вами?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Если у Вас возникли вопросы касательно контента нашего сайта, порядка регистрации и т.д., Вы всегда можете написать нам в чат. Дежурный консультант приложит все усилия, чтобы помочь Вам разрешить проблему как можно скорее.
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <a href="@Url.Action("Index", "Home")"><img src="~/images/home.png" class="img-fluid" style="width: 100px;"></a>
    </div>
</div>