@{
    Layout = "~/Views/Shared/_faqLayout.cshtml";
    ViewBag.Title = "FAQ";
}
<div class="container">
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                Нужно ли мне регистрироваться, чтобы пользоваться сайтом?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                        <div class="panel-body px-3 mb-4">
                            <p>Нет. Вы можете просматривать целевой контент и статьи без регистрации на сайте. <a href="@Url.Action("Avtorizatia", "Home")">Создание профиля</a> необходимо только в том, случае, если Вы хотите сохранить информацию о предложенном туре.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                Почему бы вам не опубликовать путеводитель по [выбранному Вами месту назначения]?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body px-3 mb-4">
                            <p>Мы составляем путеводители по тем направлениям, где, по нашему мнению, путешественники получат максимум удовольствия. Но мы постоянно пересматриваем наши гиды, поэтому просто напишите нам по электронной почте и сообщите, гиды по каким местам Вы хотели бы увидеть на нашем сайте.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                Зачем нужно проходить тест?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                        <div class="panel-body px-3 mb-4">
                            <p>Наш <a href="@Url.Action("Game", "Home")">тест</a> разработан таким образом, чтобы при выборе места назначения учитывать Ваши личные предпочтения и интересы. С помощью особой системы подсчета баллов по завершении теста Вы получаете туристический гид, в который включена вся необходимая для планирования путешествия информация, начиная с истории города/страны и заканчивая списком отелей и ресторанов.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                        <h3 class="panel-title">
                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                Как я могу связаться с вами?
                            </a>
                        </h3>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                        <div class="panel-body px-3 mb-4">
                            <p>Если у Вас возникли вопросы касательно контента нашего сайта, порядка регистрации и т.д., Вы всегда можете написать нам в чат. Дежурный консультант приложит все усилия, чтобы помочь Вам разрешить проблему как можно скорее.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/home.png" class="img-fluid" style="width: 100px;"></a>
            </div>
        </div>

    </section>
</div>
