@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}

<section class="bg-home" id="home">
    <div class="container-custom">
        <div class="img-holder">
            <div class="dws">
                <a href="@Url.Action("Test", "Home")" class="butt">Куда поехать?</a>
            </div>
        </div>
    </div>
</section>

<!-- Секция с изображением -->
<div class="container-fluid padding">
        <div class="row padding">
            <div class="offset-lg-1 col-lg-4">
                <h2>О нас</h2>
                <p><i>Собрались в путешествие, но не знаете куда? Пройдите тест “Куда поехать?” и  получите индивидуальный тур, разработанный нашими лучшими специалистами.</p>
                <p>Команда DREAM VOYAGE подготовила для вас подробные путеводители по популярным туристическим центрам. В них Вы найдете рекомендации, что посмотреть, где остановиться, чем заняться, а также где поесть. Неважно, как Вы собираетесь провести ваш отпуск - отправиться в кругосветное путешествие или в поход, отдохнуть всей семьей или путешествовать самому - эти путеводители предоставят Вам всю необходимую для вашей поездки информацию, чтобы Вы могли путешествовать лучше, дольше и дешевле.</p>
                <p>Мы заботимся о том, чтобы Вы получали только свежую и актуальную информацию. Начните планировать Ваше путешествие с нами!</p>
                <br>
            </div>
            <div class="container">
                <img src="~/images/dm.jpg" style="margin-left: 150px" width:"350px" heigth="150">
                <img src="~/images/dm2.jpg" style="margin-left: 500px" width:"350px" heigth="150">
                <img src="~/images/dm3.jpg" style="margin-left: 150px; margin-top: -227px" width:"350px">
                <img src="~/images/dm4.jpg" style="margin-left: 500px; margin-top: -665px" width:"350px">
            </div>
        </div>
    </div>


<section class="section" id="services">
    <figure>
        <div class="wraper">
            <img id="fixed" style="width:100%; height:100%;" src="~/images/bg.jpg">
        </div>
    </figure>
</section>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-3fb2a1e6-5ba1-4475-9a94-b9656415372c"></div>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-06e34124-a036-4ec7-933d-752f54cc9eb5"></div>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-baee4e1a-6068-4d8f-bd2a-1345782d59be"></div>
