@{
    Layout = "~/Views/Shared/_TestLayout.cshtml";
    ViewBag.Title = "Результат!";
}

<div class="container">
    <div id="end" class="flex-center flex-column">
        <!--Переход на страницу с городом-->
        <a id="url" class="link" onclick="ChangeHref()" href="">Нажмите, чтобы увидеть результат!</a>
        <!--Сохранение результата-->
        @using (Ajax.BeginForm("Profile", "Home", new AjaxOptions { HttpMethod = "POST",
                        OnSuccess = "success", OnFailure = "fail", UpdateTargetId = "resultTarget" }))
        
        {
            <input type="hidden" id="tourId" name="tourId" value="">
            <input type="submit" class="btn" onclick="saveTour()" value="Сохранить">
        }
        <!--Зпустить заново тест-->
        <a class="btn" href="@Url.Action("Test", "Home")">Пройти тест заново</a>
        <!--Переход на главную страницу-->
        <a class="btn" href="@Url.Action("Index", "Home")">Вернуться на главную</a>
    </div>
</div>
