@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Шри-Ланка";
}

<div class="container-fluid">
    <div class="carousel slide" data-ride="carousel" id="slides">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/SriLanka/s1.jpg">
            </div>
            <div class="carousel-item ">
                <img src="~/images/SriLanka/s2.jpg">
            </div>
            <div class="carousel-item ">
                <img src="~/images/SriLanka/s3.jpg">
            </div>
            <div class="carousel-item ">
                <img src="~/images/SriLanka/s4.jpg">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Добро пожаловать на Шри-Ланку!</h2>
        </div>
    </div>
</div>
<!-- Секция с изображением -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>О городе:</h2>
            <p>
                Шри-Ланка (ранее Цейлон) – островное государство, расположенное в Индийском океане у юго-восточного побережья Индии. Страна славится своими разнообразными ландшафтами: на ее территории есть тропические леса и засушливые равнины, горные плато и песчаные пляжи. В Шри-Ланке стоит посетить развалины буддийской крепости Сигирия V века с остатками дворца и огромными фресками. В древней столице Шри-Ланки Анурадхапуре сохранились многочисленные архитектурные памятники древности, возраст которых превышает 2000 лет.
            </p>
        </div>
        <div class="container">
            <img src="~/images/SriLanka/s5.jpg" style="margin-left:500px" width="400" heigth="70px">
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>История:<i></h2>
            <p>В древности Шри-Ланка была известна путешественникам под разными именами. Согласно исторической поэме «Махавамса», легендарный царевич Виджая назвал остров «Тамбапани» (что означает «медно-красные руки» или «медно-красная земля»), из-за того, что у его соратников руки были окрашены красной почвой острова. В индуистской мифологии, в частности, в «Рамаяне», остров упоминается как «Ланка» («Остров»). Тамильский термин «Eelam» (там. ஈழம், translit. Īḻam) использовался для обозначения всего острова в сангамской литературе</p>

        </div>
        <div class="container">
            <img src="~/images/SriLanka/s6.jpg" style="margin-left:500px" width="400" heigth="150">
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>Географическое положение:</h2>
            <p>
                Остров Шри-Ланка расположен в Южной Азии, немного восточнее южной оконечности Индостана, и омывается водами Лаккадивского моря, Индийского океана и Бенгальского залива. Отделён от Индостана Маннарским заливом и Полкским проливом. Так называемый Адамов Мост — отмель в Полкском проливе — когда-то полностью соединял Шри-Ланку с материком, но, по данным летописей, был разрушен землетрясением около 1481 года. Крайние южная и западная оконечности — мыс Дондра и мыс Датч-Бей.
                25-й по площади остров в мире и 3-й по этому показателю в Индийском океане.
                Большую часть территории занимают прибрежные низменности. Горы расположены в центральной части страны; высочайшая вершина — г. Пидуруталагала (2524 м), другая известная вершина — Адамов Пик (2243 м).
            </p>
        </div>
        <div class="container">
            <img src="~/images/SriLanka/s8.png" style="margin-left:500px" width="400" height="180">
        </div>
    </div>
</div>

<br>
<br>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="offset-lg-0 col-lg-4">
            <h2><i>Флора и Фауна:</h2>
            <p>
                В Шри-Ланке очень разнообразный животный и растительный мир.
                Из 450 видов птиц, встречающихся на острове, представители более 250 видов являются постоянными его обитателями. Из них 24 встречаются только в Шри-Ланке. Перелётные птицы прилетают на остров на зимовку из Сибири, Европы, Скандинавии. В марте-апреле, в период миграции, можно наблюдать огромное разнообразие бабочек, которых насчитывается на острове более 240 видов.
                На острове обитает 91 вид млекопитающих, среди которых дикие кабаны, шакалы, дикие буйволы, несколько видов оленей, медведи, дикобразы, лисы, обезьяны и слоны. В начале 19 века на территории Шри-Ланки насчитывалось более 30 000 слонов. К 2010 г. слонов в Шри-Ланке осталось около 6000 особей.
                В водоёмах Шри-Ланки насчитывается 50 видов пресноводных рыб, из которых 17 были завезены англичанами в XIX веке.

            </p>
        </div>
        <div class="container">
            <img src="~/images/SriLanka/b4.jpg" style="margin-left:500px" width="400" height="250">

        </div>
    </div>
</div>
<br>
<br>


<!--Карта -->
<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=1197&amp;height=400&amp;hl=en&amp;q=%20%D0%A8%D1%80%D0%B8%20%D0%9B%D0%B0%D0%BD%D0%BA%D0%B0+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> </a>
<script type='text/javascript' src='script.js?id=d9e9e2ea30eeab8dbfc7a1f92f042028c150d0bc'></script>
<br>
<br>
<br>
<br>
<table class="zebra" style="margin-left:580px">
    <tr>
        <td class="round-top">Географические координаты</td>
        <td>7°45′ с.ш. 80°46′ в.д.</td>
    </tr>
    <tr>
        <td>Площадь</td>
        <td>65 610 км²</td>
    </tr>
    <tr>
        <td>Население</td>
        <td>21 675 648 человек</td>
    </tr>
    <tr>
        <td>Официальный язык</td>
        <td>Синхала,Тамильский</td>
    </tr>
    <tr>
        <td>Валюта</td>
        <td>Шри-Ланкийская рупия Rs</td>
    </tr>
</table>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Что посмотреть?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.Золотой храм Дамбулла</p>
            <a href="https://putidorogi-nn.ru/aziya/110-zolotoi-khram-dambulla-v-shri-lanke"> <img src="~/images/SriLanka/ds1.jpg" width="350" height="255">
        </td></a>
        <td align=center>
            <p>2.Дамба Виктории</p>
            <a href="https://srilankafinder.com/ru/listing/victoria-dam/"><img src="~/images/SriLanka/ds2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.Анурадхапура</p>
            <a href="http://litetrip.ru/svyashhennyj-gorod-anuradxapura-xitrosti-besplatnogo-bileta.html"><img src="~/images/SriLanka/ds3.jpg" width="350" height="275">
        </td></a>
    </tr>
</table>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Где поесть?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.White House</p><a href="https://www.tripadvisor.ru/Restaurant_Review-g1407334-d17847581-Reviews-White_House_Restaurant-Mirissa_Southern_Province.html"> <img src="~/images/SriLanka/r1.jpg" width="350" height="255">
        </td></a>
        <td align=center>
            <p>2.Tusker</p>
            <a href="https://www.tripadvisor.ru/Restaurant_Review-g297897-d2545935-Reviews-Tusker_Restaurant-Negombo_Western_Province.html"><img src="~/images/SriLanka/r2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.Dolce Vita-Coffee Shop</p>
            <a href="https://www.tripadvisor.ru/Restaurant_Review-g297897-d2035020-Reviews-Dolce_Vita_Coffee_Shop_Restaurant-Negombo_Western_Province.html"><img src="~/images/SriLanka/r3.jpg" width="350" height="275">
        </td></a>
    </tr>
</table>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row text-center alert">
        <div class="col-12">
            <h2 class="display-4">Где остановиться?</h2>
        </div>
    </div>
</div>
<table width="100%" border=0>
    <tr>
        <td align=center>
            <p>1.Heritance Kandalama</p><a href="https://www.heritancehotels.com/kandalama/?utm_source=affilired&utm_medium=affiliates&utm_campaign=affiliate-campaign&_affclk=adn%3A3817%3A%3AEAIaIQobChMIk9-F147G7AIVd4BQBh144g9dEAAYASAAEgLTTvD_BwE%3A8002y1"> <img src="~/images/SriLanka/hs1.jpg" width="310" height="255">
        </td></a>
        <td align=center>
            <p>2.Light House Beach Hut</p>
            <a href="http://www.lighthousebeachhut.com/"><img src="~/images/SriLanka/hs2.jpg" width="350" height="275">
        </td></a>
        <td align=center>
            <p>3.Thilanka hotel</i></p>
            <a href="https://www.tripadvisor.ru/Hotel_Review-g304138-d477914-Reviews-Hotel_Thilanka-Kandy_Kandy_District_Central_Province.html"><img src="~/images/SriLanka/hs3.jpg" width="320" height="275">
        </td></a>
    </tr>
</table>
<br>
<!--Поиск отеля -->
<iframe style="margin-left: 600px" width="400" height="450"
        src="https://widgets.skyscanner.net/widget-server/widgets/iframe?skyscannerWidget=HotelSearchWidget&locale=en-GB&market=GB&currency=GBP"></iframe>

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-baee4e1a-6068-4d8f-bd2a-1345782d59be"></div>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-baee4e1a-6068-4d8f-bd2a-1345782d59be"></div>

<!--Конвертер валют -->
<div id='gcw_mainFROo2sNka' class='gcw_mainFROo2sNka'></div>
<a id='gcw_siteFROo2sNka' href='https://freecurrencyrates.com/ru/'>FreeCurrencyRates.com</a>
<script>function reloadFROo2sNka() { var sc = document.getElementById('scFROo2sNka'); if (sc) sc.parentNode.removeChild(sc); sc = document.createElement('script'); sc.type = 'text/javascript'; sc.charset = 'UTF-8'; sc.async = true; sc.id = 'scFROo2sNka'; sc.src = 'https://freecurrencyrates.com/ru/widget-horizontal?iso=USD-EUR-RSD-MKD-MDL-LKR&df=2&p=FROo2sNka&v=fits&source=fcr&width=900&width_title=300&firstrowvalue=1&thm=A6C9E2,FCFDFD,4297D7,5C9CCC,FFFFFF,C5DBEC,FCFDFD,2E6E9E,000000&title=%D0%9A%D0%BE%D0%BD%D0%B2%D0%B5%D1%80%D1%82%D0%B5%D1%80%20%D0%B2%D0%B0%D0%BB%D1%8E%D1%82&tzo=-180'; var div = document.getElementById('gcw_mainFROo2sNka'); div.parentNode.insertBefore(sc, div); } reloadFROo2sNka();</script>
<br>


<!-- Погода -->
<a class="weatherwidget-io" href="https://forecast7.com/en/7d8780d77/sri-lanka/" data-label_1="SRI LANKA" data-label_2="WEATHER" data-theme="original">SRI LANKA WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
